body {
    background: lightgray;
    counter-reset: page;
    font-family: "new-hero", sans-serif;
    font-size: 14pt;
  }
  
section {
    break-before: page;
}
section img {
    width: 100%;
}

.info {
    position: absolute;
    line-height: 0.415in;
    position: absolute;
    top: 2.85in;
    left: 4.7in;
    width: 3in;
}

.title {
    font-size: 120%;
}

.infor{
    position: absolute;
    line-height: 0.355in;
    position: absolute;
    top: 2.95in;
    left: 4.5in;
    width: 3in;

}
@page {
size: 8in 5in;
margin: 0;
bleed: 0.25in;
marks: crop;
}


@page:left {
@bottom-left {
    content: counter(page);
}
@bottom-right {
    content:"Around the World in NYC";
}
}

